@font-face {
    font-family: "Raleway";
    font-weight: normal;
    src: url("./raleway/Raleway-Light.ttf") format("opentype");
}
@font-face {
    font-family: "Raleway";
    font-weight: 400;
    src: url("./raleway/Raleway-Regular.ttf") format("opentype");
}
@font-face {
    font-family: "Raleway";
    font-weight: 500;
    src: url("./raleway/Raleway-Medium.ttf") format("opentype");
}
@font-face {
    font-family: "Raleway";
    font-weight: 600;
    src: url("./raleway/Raleway-SemiBold.ttf") format("opentype");
}
@font-face {
    font-family: "Raleway";
    font-weight: 700;
    src: url("./raleway/Raleway-Bold.ttf") format("opentype");
}